<template name="pestNew">
<div class="article-bg">
  <div class="pestNew">
    <div class="tt1">The Worse Pest Description</div>
    <div class="clear pestNew-top">
      <div class="left">
        <span class="my-label">Pest type</span>
        <select class="form-control" name="pesttype" value="0" id="selectChange">
          <option value="0">default</option>
          <option value="1">Weeds</option>
          <option value="2">Insects</option>
          <option value="3">Desease</option>
        </select>
      </div>
      <div class="right">
        <span class="my-label">Pest Name</span>
        <input type="text" class="form-control" name="pestname" placeholder="Eg. Paddy">
      </div>
    </div>
    <!-- <form action="/files" method="POST" enctype="multipart/form-data"> -->
    <!-- <form> -->
      <div class="pestNew-content">
        <div class="tip">Please at least upload 3 images</div>
          <div class="form-group-box">
            <div class="form-group clearfix img-upload" style="display: block;">
              <div class="add-li">
                <label for="exampleInputFile">leaves</label>
                <span class="add-img"><input type="file" name="picfile" multiple class="picfile" id="picfile" onchange="javascript:setImagePreviews('picfile','dd');"/></span>
                <div class="img-list" id="dd">
                </div>
              </div>
              <div class="add-li">
                <label for="exampleInputFile">Flower</label>
                <span class="add-img"><input type="file" name="picfile1" multiple class="picfile" id="picfile1" onchange="javascript:setImagePreviews('picfile1','dd1');"/></span>
                <div class="img-list" id="dd1">
                  <!-- <span class="img-li"><img src="/images/img13.png" alt=""></span>
                  <span class="img-li"><img src="/images/img13.png" alt=""></span>
                  <span class="img-li"><img src="/images/img13.png" alt=""></span> -->
                </div>
              </div>
              <div class="add-li">
                <label for="exampleInputFile">Root</label>
                <span class="add-img"><input type="file" name="picfile2" multiple class="picfile" id="picfile2" onchange="javascript:setImagePreviews('picfile2','dd2');"/></span>
                <div class="img-list" id="dd2">
                  <!-- <span class="img-li"><img src="/images/img13.png" alt=""></span>
                  <span class="img-li"><img src="/images/img13.png" alt=""></span>
                  <span class="img-li"><img src="/images/img13.png" alt=""></span> -->
                </div>
              </div>
            </div>
            <div class="form-group clearfix img-upload">
              <div class="add-li">
                <label for="exampleInputFile">Insect</label>
                <span class="add-img"><input type="file" name="picfile3" multiple class="picfile" id="picfile3" onchange="javascript:setImagePreviews('picfile3','dd3');"/></span>
                <div class="img-list" id="dd3">
                </div>
              </div>
              <div class="add-li">
                <label for="exampleInputFile">Eggs</label>
                <span class="add-img"><input type="file" name="picfile4" multiple class="picfile" id="picfile4" onchange="javascript:setImagePreviews('picfile4','dd4');"/></span>
                <div class="img-list" id="dd4">
                  <!-- <span class="img-li"><img src="/images/img13.png" alt=""></span>
                  <span class="img-li"><img src="/images/img13.png" alt=""></span>
                  <span class="img-li"><img src="/images/img13.png" alt=""></span> -->
                </div>
              </div>
            </div>
            <div class="form-group clearfix img-upload">
              <div class="add-li">
                <label for="exampleInputFile">Desease</label>
                <span class="add-img"><input type="file" name="picfile5" multiple class="picfile" id="picfile5" onchange="javascript:setImagePreviews('picfile5','dd5');"/></span>
                <div class="img-list" id="dd5">
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="btn-box">
        <button type="submit" class="btn btn-default btn-login" id="cerateorgann">
          Next Step
        </button>
      </div>
    <!-- </form> -->
  <!--
      {{#autoForm collection="pest"  id="pestNewForm" type="insert"}}
        <fieldset>
          <div class="cropName">
            {{> afQuickField name='pestType' options="allowed" firstOption="选择类型"}}
            <div class="left">{{> afQuickField name='pestName' placeholder="Eg. Paddy"}}</div>
            <br><br>
            <div class="right">Please at least upload 3 images</div>
            {{> afQuickField name="Leavrs"}}
            {{> afQuickField name="Flowers"}}
            {{> afQuickField name="Root"}}
            {{> afQuickField name="Insects"}}
            {{> afQuickField name="Eggs"}}
            {{> afQuickField name="Desease"}}
          </div>
          <div class="form-group clearfix img-upload">
            <div class="add-li">
              <label for="exampleInputFile">leaves</label>
              <span class="add-img"><input type="file" name="picfile" multiple class="picfile" id="picfile" onchange="javascript:setImagePreviews('picfile','dd');"/></span>
              <div class="img-list" id="dd">

              </div>
            </div>
            <div class="add-li">
              <label for="exampleInputFile">Flower</label>
              <span class="add-img"><input type="file" name="picfile" multiple class="picfile" id="picfile1" onchange="javascript:setImagePreviews('picfile1','dd1');"/></span>
              <div class="img-list" id="dd1">
              </div>
            </div>
            <div class="add-li">
              <label for="exampleInputFile">Root</label>
              <span class="add-img"><input type="file" name="picfile" multiple class="picfile" id="picfile2" onchange="javascript:setImagePreviews('picfile2','dd2');"/></span>
              <div class="img-list" id="dd2">
              </div>
            </div>
          </div>

        </fieldset>
        <div class="btn-box">
          <button type="submit" class="btn btn-default btn-login" id="cerateorgann">
            Next Step
          </button>
        </div>
      {{/autoForm}}

  -->

  </div>
</div>

<script type="text/javascript">

  function setImagePreviews(clickId,id) {
    var name = $("input[name='pestname']").val();
    if (name) {
      var num = Math.random();
      // console.log('num', num);
      var docObj = document.getElementById(clickId);
      // console.log('docObj', docObj);
      var dd = document.getElementById(id);
      // console.log('dd', dd);
      var fileList = docObj.files;
      // console.log('fileList', fileList);
      if(fileList.length <3 ){
          alert("Please at least upload 3 images");
          // for IE, Opera, Safari, Chrome
          if(docObj.outerHTML){
            // console.log('docObj.outerHTML cunzai');
            docObj.outerHTML = docObj.outerHTML;
          }
          else{
            // FF(包括3.5)
            // console.log('docObj.outerHTML bucunzai');
            docObj.value = '';
          }
          return;
      }
      for (var i = 0; i < fileList.length; i++) {
          dd.innerHTML += '<span class="img-li"><img id="img'+num+i+'" /></span>'
          var imgObjPreview = document.getElementById("img"+num+i);
          console.log('imgObjPreview', imgObjPreview);
          if (docObj.files && docObj.files[i]) {
              //火狐7以上版本不能用上面的getAsDataURL()方式获取，需要一下方式
              // console.log('docObj.files && docObj.files[i]', docObj.files && docObj.files[i]);
              imgObjPreview.src = window.URL.createObjectURL(docObj.files[i]);
              var options = {};
              // window.localStorage.setItem("pestId", "dsafsdfdsf");
              options.situationId = window.localStorage.getItem("situationId")
              options.type = $("select[name='pesttype']").val();
              options.name = $("input[name='pestname']").val();
              options.userId = Meteor.userId();
              options.src = window.URL.createObjectURL(docObj.files[i]);
              console.log('options', options);
              Meteor.call("pestnewtest", options, function(error, result){
                if(error){
                  console.log("error", error);
                }
                if(result){
                   console.log('result', result);
                   window.localStorage.setItem("pestId", result);
                }
              });
          }
          else {
              //IE下，使用滤镜
              console.log('docObj.files && docObj.files[i]', docObj.files && docObj.files[i]);
              docObj.select();
              var imgSrc = document.selection.createRange().text;
              console.log('imgSrc', imgSrc);
              alert(imgSrc)
              var localImagId = document.getElementById("img"+num + i);
              console.log('localImagId', localImagId);
              //必须设置初始大小
              // localImagId.style.width = "150px";
              // localImagId.style.height = "150px";
              //图片异常的捕捉，防止用户修改后缀来伪造图片
              try {

                  localImagId.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";

                  localImagId.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = imgSrc;
              }
              catch (e) {
                  alert("您上传的图片格式不正确，请重新选择!");
                  return false;
              }
              imgObjPreview.style.display = 'none';
              document.selection.empty();
          }
      }
      return true;
    }else {
      alert("Please input PestName");
    }
  }


  $('#selectChange').on('change',function(){

    var index = $(this).val();
    // console.log($(this).val());
    if(index == 0){
      $('.form-group-box').find('.img-upload').hide();
    }
    else{

      $('.form-group-box').find('.img-upload').hide();
      $('.form-group-box').find('.img-upload').eq(parseInt(index)-1).show();

    }


  })
  $('#selectChange').trigger('change');

</script>
  <!-- {{> imgUploader}} -->
</template>
