<template name="footer">
<div class="footer-bg">
  <div class="footer">
    <div class="title">Contact Us</div>
    <div class="contact-list">
      <div class="list"><span class="icon"><img src="/images/icon01.png" alt=""></span><span>Email: demo@agrisharable.com</span></div>
      <div class="list"><span class="icon"><img src="/images/icon02.png" alt=""></span><span>Phone No.: +8618611194671</span></div>
      <div class="list"><span class="icon"><img src="/images/icon03.png" alt=""></span><span>Facebook: agrisharable</span></div>
    </div>
    <div class="di">
      <span>Copyright © 2016 Agrisharable Ltd. All rights reserved. </span><span class="line"></span><a href="{{pathFor 'privacy'}}" target="_blank" class="toTop">Privacy Policy </a><span class="line"></span><a href="{{pathFor 'article'}}"  target="_blank" class="toTop"> Terms of Use</a>
    </div>
  </div>
</div>
</template>
