<template name="login">
		<div class="common login-from-bg">
			<div class="form-box">
					<div class="login-from">
						<div class="login-from-c">
							<div class="tt">AgriSharable</div>
							<div class="reg-guide">
								<a href="{{pathFor 'reg'}}">
									<span>Create an Account</span>
									<span class="icon04"><img src="/images/icon04.png" alt=""></span>
								</a>
							</div>
							<div class="form-text">
								<span class="txt">Email:</span>
								<input type="text" class="text" name="email" />
							</div>
							<div class="form-text">
								<span class="txt">Password:</span>
								<input type="password" class="text" name="password" />
							</div>
							<div class="clear rember">
								<input type="checkbox"  class="left" id="rember" />
								<label for="rember" class="center">Remember me for 14 days</label>
								<a href="#" class="right">Forgot password?</a>
							</div>

							<div class="btn-box">
								<button class="btn" id="loginBtn">LOGIN</button>
							</div>

							<!-- <div class="errMsg">email or password error!</div> -->
						</div>

					</div>
			</div>
		</div>

	<!-- // <script type="text/javascript">
	//
	// 	var tip = '';
	// 	$('#loginBtn').on('click',function(){
	//
	// 		tip = layer.open({
	// 		  type: 1,
	// 		  title: false,
	// 		  closeBtn: 0,
	// 		  shadeClose: true,
	// 		  content: '<div style="width:360px; padding-bottom:60px; text-align:center; font-size:24px;"><div style="padding-top:70px;">Success!</div><div style="padding-top:30px;"><button class="btn" id="btn" style="width:300px; display:inline-block;  font-size:24px; color:#fff;">OK</button></div></div>'
	// 		});
	//
	// 		$('#btn').on('click',function(){
	//
	// 			layer.close(tip);
	//
	// 		})
	//
	// 	})
	//
	//
	//
	//
	// </script> -->
</template>
