<template name="reg">
	<div class="common article-bg " style="background-color:#fefefe; ">
		<div class="reg-box">
			<div class="tt">Create an AgriSharable account to participate in AI agriculture times.</div>
			<div class="tip">
				If you already have an account please Login.  To create an account please complete all fields below, quick and easy.
			</div>
			<div class="reg-from">
				<div class="form-list clear">
					<div class="fl">
						<input type="email" class="form-control" id='regEmail' placeholder="Email">
					</div>
					<div class="fr">
						<input type="password" class="form-control" id='regPassword' placeholder="Password">
					</div>
				</div>
				<div class="form-list clear">
					<div class="fl">
						<input type="text" class="form-control" id='firstName' placeholder="First name">
					</div>
					<div class="fr">
						<input type="text" class="form-control" id='lastName' placeholder="Last name">
					</div>
				</div>
				<div class="form-list clear">
					<select class="form-control">
			          <option value="">Job Function</option>
			          <option value="">Product</option>
			          <option value="">Strategy</option>
			          <option value="">Engineering</option>
			          <option value="">Press</option>
			          <option value="">Other</option>
			        </select>
				</div>

				<div class="form-list clear">
					<input type="text" class="form-control" id='companyName'  placeholder="Company Name">
				</div>

				<div class="form-list clear">
					<input type="text" class="form-control" id='companyLicience'  placeholder="Company Licience No.">
				</div>

				<div class="form-list clear">
					<input type="text" class="form-control" id='localSalesAmount'  placeholder="Local sales amount">
				</div>

				<div class="form-list clear">
					<select class="form-control">
			          <option value="">Focus On</option>
			          <option value="">Herbicide</option>
			          <option value="">Insecticide</option>
			          <option value="">Fungicide</option>
			          <option value="">Other</option>
			        </select>
				</div>
				<div class="btn-box">
					<button class="btn" id="regBtn">Sign Up</button>
				</div>

			</div>
		</div>
	</div>
</template>
