<template name="situationNew">
  <div>
    <h2>Crops Situation</h2>
    {{#autoForm collection="situation"  id="asituationNewForm" type="insert"}}
      <fieldset>
        {{> afQuickField name='cropName' placeholder="Eg. Paddy"}}
        <span>Please at least upload 3 images</span>
        <div class="form-group clearfix">
          <p><label for="exampleInputFile">leaves</label><span>upload</span></p>
          <p><label for="exampleInputFile">leaves</label><span>upload</span></p>
          <p><label for="exampleInputFile">leaves</label><span>upload</span></p>
        </div>
        <!-- {{> afQuickField name='activityAdd'  placeholder="活动所在范围"}}
        {{> afQuickField name='activityDesc' rows=6  placeholder="字数不限"}} -->
      </fieldset>
      <button type="submit" class="btn btn-default btn-login" id="cerateorgann">
        Next Step
      </button>
    {{/autoForm}}
  </div>
  <!-- {{> imgUploader}} -->
</template>
