<template name="situationNew">
<div class="article-bg">
  <div class="situationNew">

    <div class="tt1">Crops Situation</div>

    {{#autoForm collection="situation"  id="asituationNewForm" type="insert"}}
      <fieldset>
        <div class="cropName">
          <div class="left">{{> afQuickField name='cropName' placeholder="Eg. Paddy"}}</div>
          <div class="right">Please at least upload 3 images</div>
        </div>
        <div class="form-group clearfix">
          <p><label for="exampleInputFile">leaves</label><span>upload</span></p>
          <p><label for="exampleInputFile">leaves</label><span>upload</span></p>
          <p><label for="exampleInputFile">leaves</label><span>upload</span></p>
        </div>
        <!-- {{> afQuickField name='activityAdd'  placeholder="活动所在范围"}}
        {{> afQuickField name='activityDesc' rows=6  placeholder="字数不限"}} -->
      </fieldset>
      <button type="submit" class="btn btn-default btn-login" id="cerateorgann">
        Next Step
      </button>
    {{/autoForm}}
  </div>
</div>
  <!-- {{> imgUploader}} -->
</template>
