<template name="about">
	<div class="common aboutA-bg">
		<div class="aboutA">
			<div class="tt">Why we created AgriSharable?</div>
			<div class="con">
				<ul class="list clear">
					<li>
						<div class="img"><img src="/images/img01.png" alt=""></div>
						<div class="table"><img src="/images/img05.png" alt=""></div>
						<div class="map"><img src="/images/img06.png" alt=""></div>
					</li>
					<li>
						<div class="img"><img src="/images/img02.png" alt=""></div>
						<div class="font">
							<div>140+ <br/>Registration Items</div>
						</div>
						<div class="font">
							<div>79 <br/>Agrochemical Products <br/>Data</div>
						</div>
						<div class="font">
							<div>33 <br/>Countries Registration <br/>Policy</div>
						</div>
					</li>
					<li>
						<div class="img"><img src="/images/img03.png" alt=""></div>
						<div class="font">
							<div>$6 <br/>million sales volume in 5 <br/>countries</div>
						</div>
						<div class="font">
							<div>40+ <br/>Clients in 5 countries</div>
						</div>
					</li>
					<li>
						<div class="img"><img src="/images/img04.png" alt=""></div>
						<div class="font">
							<div>7 <br/>Partners and <br/>5 Think Tank</div>
						</div>
						<div class="font">
							<div>3 <br/>Start up companies <br/>Operation</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="common aboutB-bg">
		<div class="aboutB">
			<div class="tt">How did AgriSharable start?</div>
			<div class="sub-tt">
				The goal of AgriShaiable is to empower importers with <br/>
				intelligent tools and insights to make better decisions  <br/>
				and be more profitable.
			</div>
			<div class="con">
				<div class="con-top"><img src="/images/img07.png" alt=""></div>
				<div class="con-c">
					<div class="left">
						<div class="box borderRight">
							We realized how hard was for importers to make decision of registration and guiding farmers with better crop solution. Without Data and expert, the importers business all depends on the exporters and the environment. Most time, they import what the competitor's import products. It means big competition,less profit and feww help for farmers.
						</div>
					</div>
					<div class="right">
						<div class="box">
							For these reason, we decided to create an Artificial Intelligence decision engine for crop protection, The “AIgro”, to support the importer's sales judge the worse pest and give real-time and workable solution to farmers, and also get the data for analysis and forecast.
						</div>
					</div>
				</div>
				<div class="con-bottom"><img src="/images/img08.png" alt=""></div>
			</div>
		</div>
	</div>

	<div class="common">
		<div class="aboutC">
			<div class="tt">The Progress of AIgro</div>
			<div class="sub-tt">
				If you also want to use AIgro soon...
			</div>
			<div class="con">
				<div class="con-top"><img src="/images/img09.png" alt=""></div>
				<div class="con-c">
					<div class="left">
						<div class="box borderRight">
							Right now, we are designing the Algro App, we need lots of crop solution data from an Asia Pacific area.<br/>
							So if you looking forward to use Algro, please create an account and start to fill the data base, the data base will in the cloud and just belongs to your company.
						</div>
					</div>
					<div class="right">
						<div class="box">
							The Artificial Intelligence need more data to train, in order to increase it accuracy rate.<br/>
							So we'd like you become our regional partner, who is in charge of upload the local data. and you will earn points what can deduct your annuity.
						</div>
					</div>
				</div>
				<div class="con-bottom"><img src="/images/img10.png" alt=""></div>
			</div>
		</div>
	</div>
	<div class="common aboutB-bg">
		<div class="aboutD">
			<div class="tt">Alliance</div>
			<div class="con">
				<div class="fl">
					<div class="img">
						<img src="/images/img11.png" alt="">
					</div>
				</div>
				<div class="fc" id="abouthash1">
					<div class="img-box">
						<div class="img-box-c">
							<div class="img-box-cc">
								If you are also an AI Agricultural company. <br/>
								(Just like the company on the left) <br/>
								Welcome to participate in the GAAIA (Global <br/>Agriculture Artificial Intelligence Alliance) . <br/>
								Let's empower the Agriculture with AI. <br/>
							</div>
							<div class="btn-box">
								<a href="{{pathFor route='login' query='about' hash='abouthash1'}}"><img src="/images/btn.png" alt=""></a>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		
		

		// $(function(){

	 //      // alert($(window).height());
	 //      $(window).resize(function() {
	 //        var windowHeight = ($(window).height()-80-130) + 'px';
	 //        $('.aboutA .con').css('height',windowHeight);
	 //        $('.aboutA .con li').css('height',windowHeight);
	 //      });

	 //      $(window).trigger('resize');

	 //    })
	</script>
</template>
