<template name="resetPassword">
	<div class="common login-from-bg">
		<div class="form-box">
			<div class="login-from">
				<div class="login-from-c">
					<form action="" method="POST">
						<div class="tt">reset you password</div>
						
						<div class="form-text" style="margin-top: 30px;">
							<span class="txt" style="width: 100px;">new password:</span>
							<input type="password" class="text" name="password" placeholder="" />
						</div>
						<div class="form-text" style="margin-top: 30px;">
							<span class="txt" style="width: 100px;">new password:</span>
							<input type="password" class="text" name="password" placeholder="" />
						</div>
					</form>
					<div class="btn-box" style="margin-top: 30px;">
						<button class="btn" id="resetBtn">Reset password</button>
					</div>
					<div class="errMsg">email error!</div>
				</div>
			</div>
		</div>
	</div>
</template>
