<template name="reset">
	<div class="common login-from-bg">
		<div class="form-box">
			<form action="" method="POST">
				<div class="login-from">
					<div class="login-from-c">
						<div class="tt">AgriSharable</div>
						<div class="sub-des" style="margin-top: 20px;">
							Forgot your password?<br/>
							Enter your email address below, <br/>
							and we'll email you instructions for setting <br/>
							a new one.
						</div>
						<div class="form-text" style="margin-top: 30px;">
							<span class="txt" style="width: 50px;">Email:</span>
							<input type="text" class="text" name="email" value="dhs@maodou.io" placeholder="782411782@qq.com" />
						</div>
						<div class="btn-box" style="margin-top: 30px;">
							<button class="btn" id="resetBtn">Reset password</button>
						</div>

						<div class="errMsg">email error!</div>
					</div>

				</div>
			</form>
		</div>
	</div>
</template>
