<template name="index">
  {{> hello}}
</template>


<template name="hello">

  <div id="slides">
    <div class="slides-container">
      <div class="img-wapper" style="background: url('/images/banner1.png') center 0 no-repeat; display: block; ">
        <!-- <img src="/images/banner1.png" alt="Cinelli"> -->
        <div class="font1">
          <div class="font2">Make crop protection more intelligent!</div>
        </div>
        <div class="font3">AgriSharable delivers data and insights <br/>
        to succeed in the agrochemicals business.</div>
        <a class="btn-login" href="{{pathFor 'reg'}}" >Sign Up, It's Free!</a>
      </div>
    </div>
  </div>


  <div class="common">
    <div class="commonA">
      <div class="font1">AIgro is a Crop protection intelligent <br/>decision engine.</div>
      <div class="font2"><img src="/images/font2.png" alt=""></div>
      <div class="font3"><img src="/images/font3.png" alt=""></div>
      <div class="phone1"><img src="/images/phone1.png" alt=""></div>
      <div class="phone2"><img src="/images/phone2.png" alt=""></div>
    </div>
  </div>
  <div class="common"  style="background: #f7f7f7;">
    <div class="commonB">
      <div class="font1">Make better registration and<br/> import decisions by using AIgro.</div>
      <div class="font2"><img src="/images/font5.png" alt=""></div>
      <div class="font3"><img src="/images/font6.png" alt=""></div>
      <div class="phone1"><img src="/images/phone3.png" alt=""></div>
    </div>
  </div>
  <div class="common" id="common">
    <div class="commonC">
      <div class="font1">Smarter solution provided in an efficient, <br/>
          expedient and economical way.</div>
      <div class="font2"><img src="/images/font8.png" alt=""></div>
      <div class="font3"><img src="/images/font9.png" alt=""></div>
      <div class="phone1"><a href="{{pathFor 'login' query='index' hash='common'}}"><img src="/images/phone4.png" alt=""></a></div>
    </div>
  </div>
  <div class="common commonD-bg" id="commonbg">
    <div class="commonD">
      <div class="font1">The future of crop protection</div>
      <div class="font2"><img src="/images/font11.png" alt=""></div>
      <div class="font3">Let's create the intelligent crop protection<br/> from here together!</div>
      <div class="font4">We always hope the agrochemicals can protect our crops better, <br/>
        however, we usually disappointed. <br/>
        The new and more efficiency agrochemicals less and less, <br/>
        is that the fault of MNCs? Or is that the fault of importers?<br/>
        No! The root of problems is we never use right tools to record and<br/>
        analysis how to use the agrochemicals with correct method.
      </div>
      <a class="btn-login" href="{{pathFor 'login' query='index' hash='commonbg'}}" >Create Together!</a>
    </div>
  </div>


  <script type="text/javascript">

    $(function(){

      // alert($(window).height());
      $(window).resize(function() {
        var windowHeight = ($(window).height()-80) + 'px';
        $('.img-wapper').css('height',windowHeight);
        $('.slides-container').css('height',windowHeight);
      });

      $(window).trigger('resize');

    })
    
  </script>

</template>
